{% extends "master.html" %}
{% load static %}

{% block title %}Yuumi | Contact{% endblock %}

{% block content %}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div style="margin-bottom: 100px !important;"></div>

<div style="margin-bottom: 100px !important;">
  <div style="text-align: center;">
    <i class="fas fa-paper-plane" style="font-size: 50px; color: #ff8b38; margin:20px"></i>
  </div>
  <div style="text-align: center;">
    <p style="font-size: 24px;"><strong>Contactez-nous!</strong></p>
    <p style="font-size: 20px;">Besoin de renseignements ? Envie d'être référencé sur le site ? N'hésitez pas à nous contacter, nous ferons tout pour vous répondre le plus vite possible.</p>
    <p style="font-size: 24px; font-weight: bold; color: #333; text-align: center;">
      <!-- Lien cliquable vers l'email -->
      <span style="font-size: 24px; font-weight: bold; color: #333; text-align: center;">
  06 21 35 76 23 |
</span>
<a href="mailto:contact@yuumi-shop.com" style="color: #ff8b38; text-decoration: none;">
  contact@yuumi-shop.com
</a>
    </p>
  </div>
</div>
{% endblock %}