{% extends "master.html" %}
{% load static %}

{% block title %}Connexion | Yuumi{% endblock %}

{% block content %}
<style>
    #page-container-login {
        max-width: none;
        margin: 0;
        padding: 0;
        background-color: #ff8b38;
    }

    .login-container {
        width: 50%;
        height: auto;
        margin: 50px auto 10px;
        padding: 20px;
        border: 5px solid white;
        border-radius: 8px;
        background-color: #ff8b38;
        display: flex;
        flex-direction: column;
    }

    .login-h2-container {
        margin-bottom: 30px;
    }

    .login-h2 {
        text-align: center;
        color:white;
        font-weight: bold;
    }

    .login-form-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        text-align: center;
        flex: 1;
    } 

    .login-labelinput-container {
        display: flex;
        flex-direction: column;
    }

    .login-label {
        color: white;
        font-weight: bold;
        margin-bottom: 8px;
    }

    .login-input {
        width: 30%;
        margin: auto;
        border-radius: 100px;
        height: 1.3rem;
        border: none;
        margin-bottom: 16px;
        padding-left: 8px;
    }
    
    .login-button-container {
        text-align: center;
        margin-top: 32px;
    }

    .login-button {
        width: 40%;
        padding: 10px;
        background-color: #ff8b38;
        border: none;
        color: white;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5px;
    }

    .login-noaccount-container {
        text-align: center;
    }

    .login-noaccount-p {
        font-size: 14px;
    }

    .login-noaccount-link {
        color: #ff8b38;
        text-decoration: none;
        font-weight: bold;
    }


@media (max-width: 767px) {
    .login-container {
        margin-top: 80px !important;
        padding: 20px 16px !important;
        width: 95% !important;
    }

    .login-input {
        width: 50%;
    }
}
</style>
<div class="page-container" id="page-container-login">
<div class="login-container">
    <div class="login-h2-container">
        <h2 class="login-h2">Connexion</h2>
    </div>
    <div class="login-form-container">
        <form method="post">
            {% csrf_token %}

<div class="login-labelinput-container">
    <label class="login-label" for="{{ form.username.id_for_label }}">
        {{ form.username.label }} :
    </label>
    <input class="login-input"
           type="text"
           name="{{ form.username.html_name }}"
           id="{{ form.username.id_for_label }}"
           autofocus
           autocapitalize="none"
           autocomplete="username"
           maxlength="150"
           required>
    {% if form.username.errors %}
        <p style="color:red; font-size:12px;">{{ form.username.errors|join:", " }}</p>
    {% endif %}
</div>

<div class="login-labelinput-container">
    <label class="login-label" for="{{ form.password.id_for_label }}">
        {{ form.password.label }} :
    </label>
    <input class="login-input"
           type="password"
           name="{{ form.password.html_name }}"
           id="{{ form.password.id_for_label }}"
           autocomplete="current-password"
           required>
    {% if form.password.errors %}
        <p style="color:red; font-size:12px;">{{ form.password.errors|join:", " }}</p>
    {% endif %}
</div>

{% if form.non_field_errors %}
    <p style="color:red; font-size:12px;">{{ form.non_field_errors|join:", " }}</p>
{% endif %}
            <div class="login-button-container">
                <button class="login-button" type="submit">Se connecter</button>
            </div>
        </form>
    </div>
</div>
<div class="login-noaccount-container">
<p class="login-noaccount-p">Vous n'avez pas de compte ? Inscrivez-vous <a class="login-noaccount-link" href="{% url 'register' %}">ici</a>.</p>
</div>
</div>
{% endblock %}
